h1 ユーザー一覧表示

/ = link_to '退会する', logout_path(current_user), method: :put, 'data-confirm' => "本当に退会しますか？", class: 'btn btn-danger'

= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-danger'